.redCell{
    background-color:red;
}

.tableColors>tr>td{
    width:40px;
    height:40px;
}

.available{
    background-color: green;
}

.not-available{
    background-color: red;
}

#runningButton{
    width:120px;
    height:50px;
    position: absolute;
    transition: all 0.1s ease;
}

#D{
    width:200px;
    display: block;
}

#Guy{
    width:250px;
    display: block;
    position: absolute;
    top:300px;
}

#A{
    width:500px;
    display: block;
    margin-left:1000px;
}